<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Cointology - Admin Panel </title>
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/authenticate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <div class="top-nav">
  <i class="bi bi-list" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
  </i>
</div>
  
  <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel">Cointology</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <div class="nav-body">
          Products
        </div>
        <div class="nav-body">
          Orders
        </div>
        <div class="nav-body">
          <div id="addProductBtn">Add Product</div>
        </div>
        <div class="nav-body">
          Log Out
        </div>
      </div>
    </div>
  </div>





<div class="product-section">

  <div class="stats-container">
    <div class="stat-card">
      <div class="fw-bold fs-4 mb-0"><i class='bx bxs-coin-stack'></i> Total Products</div>
      <div class="fs-6 mt-0 product-count"></div>
    </div>
    <div class="stat-card">
      <div class="fw-bold fs-4 mb-0"><i class='bx bxs-receipt'></i> Stock Revenue</div>
      <div class="fs-6 mt-0 total-monies"></div>
    </div>
    <div class="stat-card">
      <div class="fw-bold fs-4 mb-0"><i class='bx bxs-purchase-tag-alt'></i> Low Stock Items</div>
      <div class="fs-6 mt-0 low-stock-count"></div>
    </div>
    <div class="stat-card">
      <div class="fw-bold fs-4 mb-0"><i class='bx bxs-error'></i> Out of Stock</div>
      <div class="fs-6 mt-0 out-of-stock-count"></div>
    </div>
  </div>
  
  


    <div class="modal fade add-product-modal"  tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body add-product-text">
            <input type="number" name="productID" id="productID" placeholder="Product ID" class="form-control mb-3" disabled>
      <input type="text" name="producTitlte" id="productTitle" placeholder="Product Name" class="form-control mb-3" required>
      <input type="text" name="productDescription" id="productDescription" placeholder="Product Description" class="form-control mb-3" required>
      <input type="text" name="productImage" id="productImage" placeholder="Product Image" class="form-control mb-3" required>
      <input type="number" name="productPrice" id="productPrice" placeholder="Product Price" class="form-control mb-3" required>
      <input type="number" name="productStock" id="productStock" placeholder="Product Stock" class="form-control mb-3" required>
        <select name="productCategory" id="productCategory" class="form-control mb-3" required>
          <option value="olympic">Olympic</option>
          <option value="alphabet">Alphabet</option>
          <option value="peter-rabbit">Peter Rabbit</option>
          <option value="nhs">NHS (Limited Edition)</option>
          <option value="king-anniversary">King Anniverary (Limited)</option>
          <option value="collection">Collection</option>
      </select>
      <select name="productTag" id="productTag" class="form-control mb-3" required>
        <option value="none">No Tag</option>
        <option value="new">New</option>
        <option value="sale">Sale</option>
        <option value="hot">Hot</option>
    </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline-success" id="submitProductBtn">Add Product</button>
          </div>
        </div>
      </div>
    </div>




    <!-- Modal -->
<div class="modal fade delete-modal"  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body delete-text">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-danger" id="confirmDeleteBtn">Delete Product</button>
      </div>
    </div>
  </div>
</div>
   

    <div class="modal fade edit-product-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 edit-text"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <input type="text" name="editProductID" id="EditProductID" class="form-control mb-3" disabled> <!-- Hidden input for product ID -->
        <input type="text" name="editProductTitle" id="editProductTitle" class="form-control mb-3" placeholder="Product Name" required>
        <input type="number" name="editProductPrice" id="editProductPrice" class="form-control mb-3" placeholder="Product Price" step="0.01" required>
        <input type="text" name="editProductDescription" id="editProductDescription" class="form-control mb-3" placeholder="Product Description" required>
        <input type="text" name="editProductImage" id="editProductImage" class="form-control mb-3" placeholder="Product Image URL" required>
        <input type="number" name="editProductStock" id="editProductStock" class="form-control mb-3" placeholder="Product Stock" required>
        <input type="text" name="editProductCategory" id="editProductCategory" class="form-control mb-3" placeholder="Product Category" required>
        <input type="text" name="editProductTag" id="editProductTag" class="form-control mb-3" placeholder="Product Tag" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline-success" id="updateProductBtn">Save changes</button>
          </div>
        </div>
      </div>
    </div>


<div class="filter-container">
<input type="text" id="search-input" placeholder="Search product name or product id">
<select name="stock" id="stock-level">
  <option value="all">Stock</option>
  <option value="zero">Out of Stock</option>
  <option value="low">Low Stock</option>
  <option value="medium">Medium Stock</option>
  <option value="good">Good Stock</option>
</select>
<select name="price" id="sort-price">
  <option value="all">Price</option>
  <option value="h-l">High to Low</option>
  <option value="l-h">Low to High</option>
</select>
<select name="category" id="sort-category">Category
  <option value="all">Category</option>
  <option value="olympic">Olympic</option>
  <option value="a-z">Alphabet</option>
  <option value="nhs">NHS</option>
  <option value="king-anniversary">Anniversary</option>
  <option value="peter-rabbit">Peter Rabbit</option>
  <option value="collection">Collections</option>
</select>
</div>

    <table id="productTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Image</th>
          <th>Price (£)</th>
          <th>Stock</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div class="pagination-container">
      <div id="back-btn">Prev</div>
      <div id="next-btn">Next</div>
      <div id="page-text">Showing...</div>
    </div>


  </div>


      

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="menu.js"></script>
<script src="admin.js"></script>

</body>
</html>